/*
Comentarios
*/ 



body {
	background-color:#d0e4fe;
}

/*==================================*/  
/*==== Backgrounds				====*/ 
/*==================================*/ 

bgVerde			{background-color:green;} 

/*==================================*/  
/*==== Formatacao de Texto  	====*/ 
/*==================================*/ 

centro			{text-align:center;}

arial				{font-family:arial;}

azul				{color:blue;}
vermelho			{color:red;}

n15				{font-size:15px;}
n16				{font-size:16px;}


